@charset "UTF-8";

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

;

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}


body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(255, 255, 255, 0.938);
    color: rgb(255, 255, 255);
    animation: fadein 2.5s;
}

main,
header {
    color: black;
}

header {
    width: 100%;
    
}

header>h1 {
    text-align: center;
    padding: 10px;
    text-shadow: 1px 1px 1px black;
    font-size: 50px;
    color: rgb(12, 133, 12);
    
}

header>menu {
    padding: 0px;
    text-align: center;
}

header>p {
    text-align: center;
    padding-bottom: 5px;
    text-decoration: overline;
    color: black;
}

menu>h2:hover {
    color: green;
    transition: 0.5s;
}

menu>a>img {
    width: 50px;
    border-radius: 100%;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.582);
    box-sizing: border-box;
    
}

menu>a>img:hover {
    border: 2px solid white;
    transition: 1s;
    transform: translate(-2px, -2px);
    box-shadow: 2px 2px 2px black;
    cursor: none;
}

section>h2 {
    width: 80%;
    height: 250px;
    margin: auto;
    text-align: center;
    text-shadow: 1px 1px 3px black;
}


main {
    justify-content: center;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 100px;
    max-width: 1000px;
    min-width: 280px;
}

article>div {
    width: 100%;
    margin: auto;
    padding: auto;
}


ul {
    padding-left: 10px;
}

div>p {
    text-transform: uppercase;
}

div>ul>li {
    padding: 7px;
    margin-right: 5px;
    font-weight: bold;
    list-style-type: circle;
}

div#videos-de-performace {
    text-align: center;
}

iframe {
    display: inline-block;
    text-align: center;
    width: 400px;
    height: 230px;
}

a {
    text-decoration: none;
    color: black;
}

a>b {
    text-decoration: underline;
    color: blue;
}

a>b:hover {
    cursor: pointer;
    
}

footer {
    background-color: green;
    text-align: center;
    padding-bottom: 10px;
    box-shadow: 1px 1px 5px black;
}

#valor {
    font-size: xx-large;
    text-align: center;
    padding: 10px;
    margin: 10px;
    
}
section#imagemparalax {
    width: auto;
}

section#custobeneficio {
    margin-top: 80px;
}

/*.imagemparalax {
    background-color: rgba(0, 0, 0, 0.774);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.63);
    background-size: cover;
    background-attachment: fixed;
    border-radius: 5px;
}
*/

#custobeneficio {
    background-image: url(Imagens/pcs-de-entrada.png);
    background-position: center center;
    background-repeat: no-repeat;
    color: ;
}

#highend {
    background-image: url(Imagens/pcs-high-end.png);
    background-position: center center;
    background-repeat: no-repeat;
}